<!DOCTYPE html>
<html>
  <head>
    <title>Student Startups</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="/stylesheets/main.css">
    <script type="text/javascript" src="/javascripts/scroll.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<section id="top" class="page-section">
  		<!-- Nav Bar -->
  		<nav class="container-fluid navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavBarFix">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="NavBarFix">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html" class="white">HOME</a></li>
            <li id="display_small"><a href="about.html" class="white">ABOUT US</a></li>
            <li><a href="success.html" class="white">SUCCESS STORIES</a></li>
            <li><a href="career.html" class="white">CAREER</a></li>
            <li><a href="contact.html" class="white">CONTACT</a></li>
        </ul>
    </div>
	</nav>
  	</section>
  </body>
</html>
