<!doctype html>
<html>
<head>
    <title>StudentStartups </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/javascripts/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="/images/bulb_logo_black.png">
    <script type="text/javascript">(function (e, b) {
            if (!b.__SV) {
                var a, f, i, g;
                window.mixpanel = b;
                b._i = [];
                b.init = function (a, e, d) {
                    function f(b, h) {
                        var a = h.split(".");
                        2 == a.length && (b = b[a[0]], h = a[1]);
                        b[h] = function () {
                            b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                        }
                    }

                    var c = b;
                    "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
                    c.people = c.people || [];
                    c.toString = function (b) {
                        var a = "mixpanel";
                        "mixpanel" !== d && (a += "." + d);
                        b || (a += " (stub)");
                        return a
                    };
                    c.people.toString = function () {
                        return c.toString(1) + ".people (stub)"
                    };
                    i = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                    for (g = 0; g < i.length; g++)f(c, i[g]);
                    b._i.push([a, e, d])
                };
                b.__SV = 1.2;
                a = e.createElement("script");
                a.type = "text/javascript";
                a.async = !0;
                a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
                f = e.getElementsByTagName("script")[0];
                f.parentNode.insertBefore(a, f)
            }
        })(document, window.mixpanel || []);

        mixpanel.init("30be82dec6bc83baac061e2905b8e78b");</script>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <form action="/home/profile" method="post" name="signUpForm" class="form-signin">
            <h3 class="form-signin-heading">Please Enter the following details</h3>
            <hr/>
            <br>

            <input type="text" class="form-control" name="name" placeholder="Name" required autofocus/>
            <input type="text" class="form-control" name="skill_1" placeholder="Core Skill 1" required/>
            <input type="text" class="form-control" name="skill_2" placeholder="Core Skill 2" required/>
            <input type="text" class="form-control" name="skill_3" placeholder="Core Skill 3" required/>
            <input type="text" class="form-control" name="position" placeholder="Position you would like to work at" required/>

            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Submit</button>
        </form>
    </div>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.dropotron.min.js"></script>
<script src="/javascripts/jquery.scrollgress.min.js"></script>
<script src="/javascripts/skel.min.js"></script>
<script src="/javascripts/util.js"></script>
<!--[if lte IE 8]>
<script src="/javascripts/ie/respond.min.js"></script><![endif]-->
<script src="/javascripts/main.js"></script>
<!-- Smooth Scroll-->
<script type="text/javascript" src="/javascripts/smoothscroll.js"></script>
</body>
</html>
